<div class=""  style="z-index:100; ">
  <div class="timesheet_div">
    <ion-label class="title">Week 21</ion-label>
    <ion-label class="sm">07/11/2022 - 07/17/2022</ion-label>

    <div class="ion-justify-content-start ion-margin-top">
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col>
            <div class="circle_div">MON</div>
          </ion-col>
          <ion-col>
            <div class="circle_div dark">TUE</div>
          </ion-col>
          <ion-col>
            <div class="circle_div dark">WED</div>
          </ion-col>
          <ion-col>
            <div class="circle_div dark">THU</div>
          </ion-col>
          <ion-col>
            <div class="circle_div">FRI</div>
          </ion-col>
          <ion-col>
            <div class="circle_div">SAT</div>
          </ion-col>
        </ion-row>
        </ion-grid>

    </div>

    <div class="arrow_container">
      <img src="/assets/icon/arrow_down.png" class="weeek_list_expander" />
    </div>
  </div>
</div>