.timesheet_div{
    padding-top: 10px;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    border: 1px solid rgb(255 255 255 / 87%);
    height: 135px;
    z-index: 1;
    color: #111827;
    text-align: left;

    .title{
        color: #111827;
        text-align: left;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        font-weight: 600;
        text-align: left;
        border-bottom: 1px solid rgba(85, 83, 83, 0.2);
    }
    .sm{
        font-size: 12px;
        margin-top: 5px;
        margin-left: 10px;
        color: #111827;
        text-align: left;
    }

    .circle_div{
        height: 50px;
        width: 50px;
        font-size: 11px;
        font-weight: 600;
        background-color:  rgba(160,163,189,0.4); 
        margin-left: 1px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid rgba(160,163,189,0.4); 
        box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
        text-align: center;
        padding-top: 15px;
    }
    .green{
        background: #DEF7EC;
        border: 1px solid #06CA84;
    }
    .dark{
        background: #455D7C;
        border: 1px solid #455D7C;
        color: #fff;
    }
}

.arrow_container { 
    width: 100%;
    cursor: pointer;
}

.weeek_list_expander {
    cursor:pointer;
    margin-left: 45%;
}

.arrow_container>img {
    width: 20px;
    background-color: transparent !important;
}
.arrow_container img.pointer {
    cursor: pointer;
}

.weekListContainer {
   margin-top: -2px;
    margin-left: 0px;
    width: inherit;
    position: sticky;
    opacity: .96;
    //-webkit-transition: height 3s;
    //transition: height 3s ease-in-out;
}
.weekListContainerHidden {
     display:none;
     height: 0px;
   
 }
 
.weekNumber {
border-radius: 20%;
}

.calendar_month_year {
    font-weight: bolder;
}

.calendar_todays_date {
    font-weight: bolder;
}
