<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>  
  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main_content_div">  

    <ion-list lines="none">
      <ion-item lines="none">
        <ion-avatar slot="start" style="width: 72px; height: 72px">
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Side&eyebrowType=DefaultNatural&mouthType=Sad&skinColor=Light'
  />
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: bold">Good afternoon, JOHN DOE!</h2>
          <h3>What can i help you with today?</h3>
          <p style="vertical-align: middle; display: table-cell">online
            <ion-icon
              name="phone-portrait-outline"
              size="small"
              color="primary"
              style="width: 14px; height: 14px; vertical-align: middle"
             
            >
            </ion-icon>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>


    <div class=""  style="z-index:100; ">
      <div class="timesheet_div">
        <ion-label class="title">Week 21</ion-label>
        <ion-label class="sm">07/11/2022 - 07/17/2022</ion-label>

        <div class="ion-justify-content-start ion-margin-top">
          <ion-grid>
            <ion-row class="ion-align-items-start">
              <ion-col>
                <div class="circle_div">MON</div>
              </ion-col>
              <ion-col>
                <div class="circle_div dark">TUE</div>
              </ion-col>
              <ion-col>
                <div class="circle_div dark">WED</div>
              </ion-col>
              <ion-col>
                <div class="circle_div dark">THU</div>
              </ion-col>
              <ion-col>
                <div class="circle_div">FRI</div>
              </ion-col>
              <ion-col>
                <div class="circle_div">SAT</div>
              </ion-col>
            </ion-row>
            </ion-grid>
        </div>
      </div>
    </div>
    <div class="content_div animated bounceInUp" style="z-index:-10; position: fixed;">
      <div class="mt-16">
        <ion-label class="sm title"> Select Service</ion-label>

        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" (click)="goToItem(item)"  *ngFor="let item of items.slice(0,2)">
              <div class="col_div  {{item.theme}}">
                <!-- <ion-icon name="{{ item.icon }}" [style.color]= "item.color"></ion-icon> -->
                <ion-label>{{item.name}}</ion-label>
              </div>
  
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" (click)="goToItem(item)" *ngFor="let item of items.slice(2,10)">
              <div class="col_div {{item.theme}}">
                <!-- <ion-icon name="{{ item.icon }}" [style.color]= "item.color"></ion-icon> -->
                <ion-label>{{item.name}}</ion-label>
              </div>
  
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>
  </div>

  
</ion-content>