<ion-list lines="none">
  <ion-item lines="none">
    <ion-avatar slot="start" style="width: 72px; height: 72px">
      <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Gray01&eyeType=Side&eyebrowType=DefaultNatural&mouthType=Sad&skinColor=Light'/>
    </ion-avatar>
    <ion-label>
      <h2 style="font-weight: bold">Good afternoon, JOHN DOE!</h2>
      <h3>What can i help you with today?</h3>
      <p style="vertical-align: middle; display: table-cell">online
        <ion-icon
          name="phone-portrait-outline"
          size="small"
          color="primary"
          style="width: 14px; height: 14px; vertical-align: middle"
         
        >
        </ion-icon>
      </p>
    </ion-label>
  </ion-item>
</ion-list>

